# Coursera Capstone Project 
# Week 3 Part 1

### by Sushant Thotakura

Scrapping data from the webpage and cleaning it and organizing it for further analysis

In [3]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!pip install geopy
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!pip install folium
import folium # map rendering library

#To read xml file data
!pip install Beautifulsoup4 lxml

print('Libraries imported.')

Requirement already satisfied: geopy in d:\anaconda\lib\site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in d:\anaconda\lib\site-packages (from geopy) (1.50)
Requirement already satisfied: folium in d:\anaconda\lib\site-packages (0.10.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (from folium) (2.21.0)
Requirement already satisfied: branca>=0.3.0 in d:\anaconda\lib\site-packages (from folium) (0.4.0)
Requirement already satisfied: jinja2>=2.9 in d:\anaconda\lib\site-packages (from folium) (2.10)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from folium) (1.16.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests->folium) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in d:\anaconda\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\anaconda\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in d:\anaconda\lib\site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in d:\anaconda\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: Beautifulsoup4 in d:\anaconda\lib\site-packages (4.7.1)
Requirement already satisfied: lxml in d:\anaconda\lib\site-packages (4.3.2)
Requirement already satisfied: soupsieve>=1.2 in d:\anaconda\lib\site-packages (from Beautifulsoup4) (1.8)
Libraries imported.

In [4]:
#importing the table from the webpage into a dataframe
import requests
from bs4 import BeautifulSoup
url_html='https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=next&oldid=942655364'
req = requests.get(url_html)
soup = BeautifulSoup(req.content,'lxml')

table = soup.find_all('table')[0]

df = pd.read_html(str(table))
neighborhood = pd.DataFrame(df[0])

In [5]:
neighborhood.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Removing Not assigned datas for Borough

In [6]:
#removing the not assigned values from the data frame
toronto_df = neighborhood[neighborhood.Borough != "Not assigned"].reset_index(drop=True)
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

### Grouping the neighborhoods in the same Borough

In [7]:
#grouping the neighborhoods in the same borough
toronto_grouped = toronto_df.groupby(["Postcode","Borough"], as_index=False).agg(lambda x:",".join(x))
toronto_grouped.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

### For Not assigned Neighborhood data, make the value the same as Borough

In [8]:
# for neighborhood = not assigned, make the value the same as Burough

for index, row in toronto_grouped.iterrows():
    if row["Neighbourhood"] == "Not assigned":
        row["Neighbourhood"] = row["Borough"]
        
toronto_grouped.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

### create the example data frame from the instructions

In [21]:
#create the example data frame 
column_names = ["Postcode", "Borough", "Neighbourhood"]
example_df = pd.DataFrame(columns=column_names)

example_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1"]

for n in example_list:
    example_df = example_df.append(toronto_grouped[toronto_grouped["Postcode"] == n], ignore_index=True)
    
example_df

,Postcode,Borough,Neighbourhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Woodbine Gardens,Parkview Hill"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Maryvale,Wexford"
7,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower,Bathurst Quay,Island airport,Harbourf..."

### Print the shape of the data frame

In [22]:
#print the shape of the data frame

toronto_grouped.shape

(103, 3)